.button {
  padding: 0;
  font: inherit;
  line-height: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgb(242, 242, 242);
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgb(255, 255, 255, 0.8);
    border-color: rgb(242, 242, 242, 0.8);
  }
}
