.partners {
  background-color: rgb(245, 245, 245);
}

.partner-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partner-item {
  width: 20%;
  height: 150px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
