.services {
  padding: 93px 0;
  background-color: rgb(245, 245, 245);

  .section-subtitle {
    margin-bottom: 58px;
  }
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  position: relative;
  width: 270px;
  padding-top: 147px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  &:nth-child(1)::before {
    @include service-item-background(
      '../img/services/laptop_icon.png'
    );
  }

  &:nth-child(2)::before {
    @include service-item-background(
      '../img/services/adjust_icon.png'
    );
  }

  &:nth-child(3)::before {
    @include service-item-background(
      '../img/services/map_icon.png'
    );
  }

  &:nth-child(4)::before {
    @include service-item-background(
      '../img/services/heart_icon.png'
    );
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    color: rgba(41, 50, 60, 0.8);
  }
}
